<div class="message my-3">
  <div style="width: 15%; background: white;" class="user d-inline-block">
    <%= message.user.email[0..4] %>
  </div>
  <div style="width: 80%;" class="message-content d-inline-block">
    <%= message.context %>
  </div>
</div>