// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chat-section-body{
  height: 80vh;
  position: relative;
}

.create-message-form{
  position: absolute;
  top: 80%;
  width: 100%;
}

.messages-div{
  height: 78%;
  overflow-y: scroll;
}

.message{
  background: rgb(160, 186, 233);
  padding: 10px;
}